body,
h1,
h2 {
  padding: 0px;
  margin: 0px;
}
.swiper-container {
  width: 10rem;
}
.swiper-container .swiper-slide {
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.index {
  height: 100%;
  width: 100%;
  background-image: url(../img/pen.png);
  background-size: 100% 83%;
  background-position: center 25%;
  background-repeat: no-repeat;
  text-align: center;
}
.index .index-content {
  height: 91.2106136%;
  width: 96.4%;
  margin-top: 11.85737977%;
}
.about-me .about-me-title {
  height: 1.77333333rem;
  margin-top: 1.24rem;
  margin-bottom: 0.66666667rem;
  text-align: center;
}
.about-me .about-me-title img {
  height: 100%;
  padding-left: 0.6rem;
}
.about-me .rank {
  height: 1.01333333rem;
  text-align: center;
}
.about-me .rank img {
  height: 100%;
}
.about-me .major-rank {
  margin-bottom: 0.26666667rem;
}
.about-me .major-rank img {
  width: 6.76rem;
}
.about-me .class-rank img {
  padding-right: 0.53333333rem;
  width: 6.16rem;
}
.about-me .rank-detail {
  position: absolute;
}
.about-me .about-me-content {
  height: 57.44%;
  width: 100.66666667%;
  margin-top: 0.26666667rem;
  margin-left: auto;
  margin-right: auto;
}
.about-me .about-me-content img {
  height: 100%;
  width: 100%;
}
.about-me .about-me-dots {
  position: absolute;
  left: 50%;
  bottom: 0.28rem;
  margin-left: -0.16rem;
}
.about-me .about-me-dots .dots {
  display: block;
  height: 0.16rem;
  width: 0.16rem;
  margin: 0.06666667rem auto 0 auto;
  box-sizing: border-box;
  background-color: #ffd97e;
  border: 0.04rem solid #000;
  border-radius: 100%;
}
.about-me .best-rank img {
  height: 0.78666667rem;
  width: 9.21333333rem;
}
.about-me .worst-rank img {
  height: 0.66666667rem;
  width: 9.13333333rem;
}
.about-me .class-info {
  margin-top: 0.57333333rem;
}
